:root {
  --background-color: #1486c3;
  --background-text: #ced9bf;
  --modal-background-color: #364853;
  --modal-background-hover-color: #5b6870;
  --modal-text: #c09576;
  --button-background-color: #1f313d;
  --plain-background: #ffffff;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.ContactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  width: 100%;
  background-color: var(--plain-background);
}

.ContactTitle {
  display: flex;
  flex-direction: column;
  height: 15%;
  width: 100%;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.ContactTitle span {
  font-size: 3rem;
  font-weight: bold;
}
