:root {
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#tsparticles {
  z-index: -10;
}

.HeroSection {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
