:root {
  --navbar-color: #162244;
  --active-color: #eb068b;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5%;
  width: 100%;
  background-color: var(--navbar-color);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
  border-bottom: 4px solid var(--active-color);
}
.NavLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
  list-style: none;
}

.ResumeLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1rem;
  list-style: none;
}

.ResumeLink li {
  padding-right: 1.5rem;
}

.NavLinks li {
  padding-left: 1.5rem;
}

.Inactive {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
}

.Active {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--active-color);
}

.sticky {
  position: fixed;
  top: 0;
}
