:root {
  --background-color: #1486c3;
  --section-color: #f1f1f1;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.SkillsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--section-color);
}

.SkillsTitle {
  display: flex;
  flex-direction: column;
  height: 25%;
  width: 100%;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.SkillsTitle span {
  font-size: 3rem;
  font-weight: bold;
}

.SkillRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 30%;
}
